<body id="page-top">

  <app-employee></app-employee>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/empdashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" routerLink="/empaccount" id="pagesDropdown">
          <i class="fas fa-fw fa-folder"></i>
          <span>Account</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/empattendance">
          <i class="fas fa-fw fa-user-check"></i>
          <span>Attendance</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/emplist">
          <i class="fas fa-fw fa-user-tie"></i>
          <span>Employees</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/empleaves">
          <i class="fas fa-fw fa-user-clock"></i>
          <span>Leaves</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/emprequests">
          <i class="fas fa-fw fa-sticky-note"></i>
          <span>Request</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/empmesseages">
          <i class="fas fa-fw fa-comment"></i>
          <span>Massages</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/emprequests">
          <i class="fas fa-fw fa-file"></i>
          <span>Reports</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <h1 class="h1" > Leave Form</h1>

        <ul class="nav nav-tabs md-tabs" id="myTabJust" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
              aria-selected="true">Request Leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" (click) = "getdata()" role="tab" aria-controls="profile-just"
              aria-selected="false">Recived Leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#contact-md" (click) = "getdata()" role="tab" aria-controls="contact-md"
              aria-selected="false">All Requested Leave Forms</a>
          </li>
        </ul>
        <div class="tab-content card pt-1 pl-1 pr-1" id="myTabContentJust">
          <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">

            <form #RequestLeaveForm = "ngForm" (ngSubmit) = "onSubmit(RequestLeaveForm)">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Employee Email</label>
                  <input type="email" class="form-control" placeholder="Employee Email" #empEmail = "ngModel" [(ngModel)] = "leaveService.selectedLeaves.empEmail" name="empEmail"
                  required [ngClass] = "{'empty-textbox' : RequestLeaveForm.submitted }">
                </div>
                <div class="form-group col-md-5">
                  <label for="inputPassword4">Senders Name</label>
                  <input type="text" class="form-control" placeholder="Sender's Name" #empName = "ngModel" [(ngModel)] = "leaveService.selectedLeaves.empName" name="empName"
                  required [ngClass] = "{'empty-textbox' : RequestLeaveForm.submitted }">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Leave Date</label>
                  <input type="date" class="form-control" #date = "ngModel" [(ngModel)] = "leaveService.selectedLeaves.date" name="date"
                  required [ngClass] = "{'empty-textbox' : RequestLeaveForm.submitted }">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail4">Subject</label>
                  <input type="text" class="form-control" placeholder="Subject" #subject = "ngModel" [(ngModel)] = "leaveService.selectedLeaves.subject" name="subject"
                  required [ngClass] = "{'empty-textbox' : RequestLeaveForm.submitted }">
                </div>
              </div>

              <div class="form-group">
                <label for="inputAddress">Reasons</label>
                <input rows="3" class="form-control" placeholder="Type Reason Here" #reason = "ngModel" [(ngModel)] = "leaveService.selectedLeaves.reason" name="reason"
                required [ngClass] = "{'empty-textbox' : RequestLeaveForm.submitted }">
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="form-check col-9 ml-5">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                     I wish to Request A Leave
                    </label>
                  </div>
                  <div class="col-2"></div>
                </div>
                <br>
                <div class="row">
                  <div class="col-12 float-right">
                    <input class="btn btn-primary btn-block" type="submit" value = "Request">
                  </div>
                </div>
              </div>
            </form>

          </div>
          <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">

            <div *ngFor="let column of dataSource">
              <div id="accordion">
                <div class="card mb-2">
                  <!-- *ngIf="checkdate() == convertdate(column.date)" -->
                  <div class="card-header p-1" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                        <div class="row">
                          <div class="col-8">
                            {{column.empName}}
                          </div>
                          <div class="col-4" >
                            <div *ngIf="getstates(column.leaveCheak) == 1">
                              <span class="badge badge-success">Approved</span>
                            </div>
                            <div *ngIf="getstates(column.leaveCheak) == 2">
                              <span class="badge badge-danger">Rejected</span>
                            </div>
                            <div *ngIf="getstates(column.leaveCheak) == 0">
                              <span class="badge badge-warning">Not Dicided</span>
                            </div>
                          </div>
                        </div>
                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                      <div class="row">
                        <div class="col-9">

                          <div class="row">
                            <div class="col-4">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> Leave Requested Date </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.date}}</h4>
                            </div>
                            <div class="col-8">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> EmpLoyee Email </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.empEmail}}</h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-4">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> Leave Form Subject </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.subject}}</h4>
                            </div>
                            <div class="col-8">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> Leave Form Reason </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.reason}}</h4>
                            </div>
                          </div>
                        </div>

                        <div class="col-3">
                          <div class="row m-2">
                            <a class="btn btn-primary btn-block" role="button" (click) = "approveLeave(column._id , column.leaveCheak)">Approve Leave <i class="fas fa-check float-right m-1 mr-3 ml-0"></i></a>
                          </div>
                          <div class="row m-2">
                            <a class="btn btn-danger btn-block" role="button" (click) = "deleteLeave(column._id)">Delete Leave Form <i class="fas fa-trash float-right m-1 mr-3 ml-0"></i></a>
                          </div>
                          <div class="row m-2">
                            <a class="btn btn-secondary btn-block" role="button" (click) = "rejectLeave(column._id , column.leaveCheak)">Reject Leave Form <i class="fas fa-times float-right m-1 mr-3 ml-0"></i> </a>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="contact-md" role="tabpanel" aria-labelledby="contact-tab-md">

            <div *ngFor="let column of dataSource">
              <div id="accordion">
                <div class="card mb-2">
                  <!-- *ngIf="checkdate() == convertdate(column.date)" -->
                  <div class="card-header p-1" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                        <div class="row">
                          <div class="col-8">
                            {{column.empName}}
                          </div>
                          <div class="col-4" >
                            <div *ngIf="getstates(column.leaveCheak) == 1">
                              <span class="badge badge-success">Approved</span>
                            </div>
                            <div *ngIf="getstates(column.leaveCheak) == 2">
                              <span class="badge badge-danger">Rejected</span>
                            </div>
                            <div *ngIf="getstates(column.leaveCheak) == 0">
                              <span class="badge badge-warning">Not Dicided</span>
                            </div>
                          </div>
                        </div>
                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                      <div class="row">
                        <div class="col-9">

                          <div class="row">
                            <div class="col-4">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> Leave Requested Date </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.date}}</h4>
                            </div>
                            <div class="col-8">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> EmpLoyee Email </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.empEmail}}</h4>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-4">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> Leave Form Subject </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.subject}}</h4>
                            </div>
                            <div class="col-8">
                              <h4 class="h4 text-primary m-2 mb-1"> <strong> Leave Form Reason </strong> </h4>
                              <h4 class="h4 ml-4 mb-0" >{{column.reason}}</h4>
                            </div>
                          </div>
                        </div>

                        <div class="col-3">
                          <div class="row m-2">
                            <a class="btn btn-primary btn-block" role="button" (click) = "approveLeave(column._id , column.leaveCheak)">Approve Leave <i class="fas fa-check float-right m-1 mr-3 ml-0"></i></a>
                          </div>
                          <div class="row m-2">
                            <a class="btn btn-danger btn-block" role="button" (click) = "deleteLeave(column._id)">Delete Leave Form <i class="fas fa-trash float-right m-1 mr-3 ml-0"></i></a>
                          </div>
                          <div class="row m-2">
                            <a class="btn btn-secondary btn-block" role="button" (click) = "rejectLeave(column._id , column.leaveCheak)">Reject Leave Form <i class="fas fa-times float-right m-1 mr-3 ml-0"></i> </a>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        <br>
        <br>
        <br>

        <br class="mb-4">

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Suwasipiriyasa Private Lmt.</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

